# Application Metadata
PROJECT_NAME=
PROJECT_DESCRIPTION=
VERSION=

# Server Host & Port
HOST=
PORT=
API_V1_STR=

# CORS Configuration
ALLOWED_ORIGINS=

# File Upload Limits
MAX_FILE_SIZE_BYTES=

# Tesseract OCR Executable Path
TESSERACT_CMD=
